<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/_head %>
</head>

<body style="font-size:20px; padding:50px;">
    <div id="containerFull">
        <form method="POST" action="/login" style="margin:150px;">
            <label form="longURL"> Email:</label>
            <input type="email" name="email" placeholder="example@gmail.com" style="width: 300px">
            <label form="longURL">Password:</label>
            <input type="password" name="password" placeholder="Password" style="width: 300px">
            <input type="submit" value="Login">
        </form>
        <form method="GET" action='/register'>
            <p class="goToRegister">Please login or </p>
            <input class="goToRegister" type="submit" value="click here">
            <p class="goToRegister">to register!</p>
        </form>
    </div>
</body>

</html>