<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/_head %>
</head>

<body style="font-size:20px; padding:50px;">
    <div id="containerFull">
        <form action="/register" method="POST" style="margin:150px;">
            <label form="longURL">Email:</label>
            <input type="email" name="email" placeholder="example@gmail.com" style="width: 300px">
            <label form="longURL">Password:</label>
            <input type="password" name="password" placeholder="Password" style="width: 300px">
            <button class="btn btn-primary register" type="submit">Register</button>
        </form>
        <form method="GET" action='/login'>
            <p class="goToRegister">Please register or </p>
            <button class="btn btn-info" type="submit">click here</button>
            <p class="goToRegister">to login!</p>
        </form>
    </div>
</body>

</html>