<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/_head %>
</head>

<body>
    <div id="containerFull">
        <header>
            <% include ./partials/_header %>
        </header>
        <!-- Add your EJS code here -->
        <div id="urlShow">
            <h5 id="shortURL">Short URL: </h5>
            <h2 id="shortURL">
                <%= tinyURL %>
            </h2>
            <form method="POST" action="/urls/<%= tinyURL %>/">
                <input style="width: 20em" type="text" name="newURL" placeholder="Old URL: <%= urlDatabase[tinyURL] %>">
                <button class="btn btn-primary register" type="submit">Update URL!</button>
            </form>
            <a href="/urls/new">Shorten a new URL!</a>
        </div>
    </div>
</body>

</html>