<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <!-- Add your EJS code here -->
    <table>
        <tr>
            <td>URL</td>
            <td>Shortened URL</td>
        </tr>
            <tr>
                <td> <%= urlDatabase[tinyURL] %> </td>
                <td> <%= tinyURL %> </td>
            </tr>
    </table>
    <a href="">Shorten a new URL!</a>
</body>
</html>